[run]
parallel = True
omit =
    hyperparameter_hunter/library_helpers/__temp_files/*

[report]
omit =
    hyperparameter_hunter/library_helpers/__temp_files/*
    hyperparameter_hunter/utils/boltons_utils.py
    hyperparameter_hunter/*/__init__.py
precision = 2