# Byte-Compiled Files
*.pyc

# Environments
env/
env3/
# requirements.txt

# Repository Demo Assets
*HyperparameterHunterAssets/
__temp_files/
__temp_model_builder.py
foo_checkpoint
MNIST_data/
examples/feature_engineering_examples/data/
_saved_models/

# Documentation
_build
# _static
_templates

# Distribution/Packaging
build/
dist/
*.egg-info/

# Unit Tests/Coverage
htmlcov*/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Internal Tools
simple_profiler.py

# Miscellaneous
.idea/
.DS_Store

!*/__init__.py
!__init__.py