.ipynb_checkpoints
*.pyc
.idea/
.DS_Store
*.egg-info/

env/
env3/
requirements.txt

HyperparameterHunterAssets/

# Documentation
_build
_static
_templates

# PyPI
build/
dist/

# Internal Tools
simple_profiler.py
