language: python
python:
  - "3.6"
install:
  - pip install --upgrade pip
  - pip install flake8
  - pip install -r requirements.txt
before_script:
  # stop the build if there are Python syntax errors or undefined names
  - flake8 . --count --select=E901,E999,F821,F822,F823 --ignore=E266 --show-source --statistics
  # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide
  - flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --ignore=E266 --statistics
script:
  # - "make test"
  # - python setup.py nosetests  # FLAG: ORIGINAL
  - pytest --cov=hyperparameter_hunter tests/

#matrix:
#  include:
#  - python: "3.6"
#    script:
#      - make lint
